POSTGRES_USER=airquality
POSTGRES_PASSWORD=airquality_secret
POSTGRES_DB=air_quality_santiago
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_HOST=0.0.0.0
API_PORT=8000
API_URL=http://api:8000

DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8050

LOG_LEVEL=INFO

DATE_START=2025-06-01
DATE_END=2026-06-01

OPEN_METEO_URL=https://archive-api.open-meteo.com/v1/era5?latitude=-33.4521&longitude=-70.6536&start_date=2025-06-02&end_date=2026-06-02&wind_speed_unit=ms&daily=temperature_2m_max,temperature_2m_min,rain_sum,precipitation_sum,precipitation_hours,precipitation_probability_max,wind_speed_10m_max,wind_gusts_10m_max,weather_code&current=precipitation,rain

STATION_NAME=Santiago
